.footer-links {
  width: 100%;
}

.footer-links .footer-links-inner {
  padding: 0 25px;
  position: relative;
}

@media (width >= 768px) {
  .footer-links .footer-links-inner {
    padding: 0 40px;
  }
}

@media (width >= 1024px) {
  .footer-links .footer-links-inner {
    padding: 0 80px;
  }
}

.footer-links .column-container {
  display: flex;
  flex-wrap: wrap;
}

.footer-links .column {
  width: 100%;
  flex-basis: auto;
}

@media (width >= 768px) {
  .footer-links .column {
    width: 50%;
  }
}

@media (width >= 1024px) {
  .footer-links .column {
    width: 25%;
    padding-right: 20px;
  }
}

.footer-links ul {
  list-style: none;
  margin: 20px 0 60px;
  padding: 0;
}

.footer-links ul li {
  padding: 0 0 10px;
  line-height: 1.3;
  font-size: 1.6rem;
}

.footer-links ul li a {
  font-size: 1.6rem;
  font-weight: 400;
  color: inherit;
  text-decoration: none;
}

.footer-links ul li a:hover,
.footer-links ul li a:focus {
  text-decoration: underline;
}

.footer-links h5,
.footer-links h4,
.footer-links h3 {
  margin: 0;
  font-size: 1.4rem;
}
