footer {
  background-color: transparent;
  font-size: var(--body-font-size-xs);
}

footer .footer {
  width: 100%;
}

footer .footer > div {
  margin: 0;
  max-width: none;
  padding: 0;
}

footer .section {
  display: block;
}

footer .footer p {
  margin: 0;
}

footer .footer-main {
  width: 100%;
}
